py2app==0.19  # pyup: ignore  # keep at 0.19 until ronaldoussoren/py2app#281 is fixed
pyobjc==6.1
corefoundationasyncio==0.0.1
git+https://github.com/robotools/vanilla
git+git://github.com/justvanrossum/jundo.git